body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;

}
header {
  background-color: rgb(0, 46, 59, 90%);
  width: 100vw;
  height: 11vh;
  position: fixed;
  z-index: 10000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(33, 247, 115);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 26px;
  gap: 500px;
}

header a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  margin-right: 9px;
  transition: all 0.7s;
}

header a:hover {
  color: rgb(33, 247, 115);
}

#nav-bar {
  padding: 250px;
  margin: p 0 100px;
  color: white;
  background-color: rgb(114, 175, 60);
}

#nav-logo {
  margin: 0 -100px -17px;
  font-size: 28px;
}

#nav-text {

  margin: 10px -150px 10px 0px;
  font-size: 15px;
  color: white;
}

#nav-image {
  position: absolute;
  right: 40px;
  top: 214px;
}

#hero-page {
  margin: -100px 0 0;
  background-color: rgb(74, 146, 131);
}

#hero-page h1 {
  color: white;
  text-align: center;
  font-size: 38px;
  padding: 80px 0 80px;
  text-shadow: 0 0 2px whitesmoke;
}

#hero-Rtext {
  display: flex;
  width: 65%;
  margin: 10px auto;
}

#hero-Rtext h1 {
  text-shadow: none;
  line-height: 1.5;
  margin: -15px 0 10px;
  font-size: 23px;
  text-align: center;
}

#hero-Ltext {
  display: flex;
  width: 65%;
  margin: 50px auto;
}

#hero-Ltext h1 {
  text-shadow: none;
  line-height: 1.5;
  margin: 15px 0 50px;
  font-size: 23px;
  text-align: center;
}

#interests {
  position: relative;
  margin: -50px 0 0;
  padding: 50px 0 800px;
  color: white;
  background: rgb(95, 83, 165);
}

#interests h1 {
  color: white;
  text-align: center;
  font-size: 44px;
  text-shadow: 0 0 2px whitesmoke;
}

#interests a {
  text-decoration: none;
  color: white;
}

#interests .INTERESTS {
  width: 260px;
  background-color: rgb(27, 11, 99);
  height: 260px;
  border-radius: 50%;
  box-shadow: 15px 15px 10px rgb(15, 3, 65);
  transition: all 500ms;
}

#interests .INTERESTS:hover {
  transform: translateY(-20px);
}

.INTERESTS p,
h2 {
  font-size: 24px;
  text-align: center;
}

.INTERESTS h2 {
  color: rgb(116, 102, 104);
  font-size: 18px;
}

#interest-1 {
  position: absolute;
  top: 14%;
  left: 12%;
}

#interest-2 {
  position: absolute;
  top: 50%;
  left: 15%;
}

#interest-3 {
  position: absolute;
  top: 70%;
  right: 41%;
}

#interest-4 {
  position: absolute;
  top: 50%;
  right: 15%;
}

#interest-5 {
  position: absolute;
  top: 14%;
  right: 12%;
}

#interests img {
  position: absolute;
  top: 35%;
  right: 41%;
}

#contacts {
  margin: -50px 0 0 0;
  padding: 80px;
  color: white;
  background-color: rgb(199, 78, 144);
}

#contacts h1 {
  text-align: center;
  font-size: 42px;
  text-shadow: 0 0 2px whitesmoke;
}

#cards {
  gap: 50px;
  display: flex;
  width: 85%;
  margin: 100px auto 100px;

}

.card {
  display: flex;
  flex-direction: column;
  width: 120px;
  padding: 50px;
  background-color: rgb(255, 168, 222);
  gap: 30px;
  box-shadow: 10px 10px 2px rgb(255, 86, 204);
}

.card img {

  align-self: center;
}

.card a {
  text-decoration: none;
  text-align: center;
  font-size: 28px;
  transition: all 0.5s;
  color: rgb(255, 86, 204);
}

.card a:hover {
  color: white;
  font-size: 30px;
}

.card p {
  font-weight: lighter;
  font-size: 18px;
  text-align: center;
  color: rgb(116, 102, 104);
}

footer {
  padding: 10px;
  background-color: rgb(39, 37, 37);
  height: 60vh;
  display: flex;
  flex-direction: column;
}

footer h1 {
  padding: 10px 0 0 0;
  text-align: center;
  font-size: 42px;
  color: white;
  text-shadow: 0 0 2px whitesmoke;
}

footer img {
  display: flex;
  align-self: center;
  margin: 10px;
  animation: rotate 0.9s 1s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}

footer h5 {
  text-align: center;
  margin-top: 35px;
  color: rgb(7, 146, 156);
}

@media screen and (max-width: 600px)
{
  
  header
  {
    gap: 0;
    
  }
  header h1
  {
    margin-left:100px;
  }
  header a
{
  color: transparent;
}
  nav h1 span
  {
   font-size:35px;
   color: rebeccapurple;
  }
  nav
  {
    overflow: hidden;
    width: 2vw;
    height: 50vh;
    padding: 0 20px;
  }
  nav h1
  {
    text-align: left;
    margin-left: -90px;
    margin-top: -100px;
    width: 50%; 
    font-size: 28px;
  }
  nav h2
  {
    text-align: center;
    font-size: 20px;    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav h2:first-child
  {
    margin-right: -350px;
    margin-top: 50px;
  }
  nav h2:nth-child(2)
  {
    margin-right: 100px;
  }
    nav img
  {
    position: absolute;
    top: 300px;
    right: -0px;
  }
  #hero-Rtext
  {
    flex-direction: column-reverse;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  #hero-Rtext h1 
  {
    font-size: 16px;
    text-align: center;
  }
  #hero-Ltext
  {
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  #hero-Ltext h1 
  {
    font-size: 16px;
    text-align: center;
  }
  #interests 
  {
    height: 150vh;
  }
  #interests img
  {
    top: 180px;
    left: 14%;
  }
  #interest-1 {
    top: 450px;
    left: 13%;
  }
  
  #interest-2 {
    top: 750px;
    left: 13%;
  }
  
  #interest-3 {
    top: 1050px;
    left: 13%;
  }
  
  #interest-4 {
    top: 1350px;
    left: 13%;
  }
  
  #interest-5 {
    top: 1650px;
    left: 13%;
  }
  #cards
  {
    flex-direction: column;
    align-items: center;
  }
  footer
  {
    height: 90vh;
  }
}